# Table of Contents

1. [Imports](#Imports)<br>
2. [Data Import](#DataImport)<br>
3. [Financial Indicators](#FinancialIndicators)<br>
    3.1 [Simple Moving Average](#SimpleMovingAverage)<br>
    3.2 [Moving Average Convergence Divergence](#MovingAverageConvergenceDivergence)<br>
    3.3 [Stochastic Oscillator](#StochasticOscillator)<br>
    3.4 [Accumulation/Distribution Line](#Accumulation/DistributionLine)<br>
    3.5 [Bollinger Bands](#BollingerBands)<br>
    3.6 [On Balance Volume](#OnBalanceVolume)<br>

## Imports <a class="anchor" id="Imports"></a>

In [44]:
from scipy import stats
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import DataReader
from datetime import datetime
plt.style.use('fivethirtyeight')
import operator

## Data Import <a class="anchor" id="DataImport"></a>

In [45]:
import numpy as np
import statsmodels.api as sm
from datetime import datetime
from dateutil.relativedelta import relativedelta
ticker='ADBE'
start = datetime(2018,1,1)
end = datetime(2021,1,1)
df = DataReader(ticker,  'yahoo', start, end)

In [46]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-02,177.800003,175.259995,175.850006,177.699997,2432800,177.699997
2018-01-03,181.889999,177.699997,178.000000,181.039993,2561200,181.039993
2018-01-04,184.059998,181.639999,181.929993,183.220001,2211400,183.220001
2018-01-05,185.899994,183.539993,185.000000,185.339996,2376500,185.339996
2018-01-08,185.600006,183.830002,184.949997,185.039993,2088000,185.039993
...,...,...,...,...,...,...
2020-12-24,503.010010,497.279999,499.160004,499.859985,589200,499.859985
2020-12-28,506.040009,496.820007,505.609985,498.950012,1515400,498.950012
2020-12-29,505.350006,499.739990,501.170013,502.109985,1434100,502.109985
2020-12-30,504.369995,496.329987,503.049988,497.450012,1529900,497.450012
2020-12-31,500.660004,494.890015,497.989990,500.119995,1462100,500.119995

## Financial Indicators <a class="anchor" id="FinancialIndicators"></a>

### Simple Moving Average <a class="anchor" id="SimpleMovingAverage"></a>

The Exponential Moving Average is a staple of technical analysis and is used in countless technical indicators. In a Simple Moving Average, each value in the time period carries equal weight, and values outside of the time period are not included in the average. However, the Exponential Moving Average is a cumulative calculation, including all data. Past values have a diminishing contribution to the average, while more recent values have a greater contribution. This method allows the moving average to be more responsive to changes in the data.

In [47]:
def SMA(df , periods=20):
    df["SMA"] = df ["Adj Close"].rolling(window=periods).mean()
    return df

In [48]:
SMA(df)

,High,Low,Open,Close,Volume,Adj Close,SMA
Date,,,,,,,
2018-01-02,177.800003,175.259995,175.850006,177.699997,2432800,177.699997,NaN
2018-01-03,181.889999,177.699997,178.000000,181.039993,2561200,181.039993,NaN
2018-01-04,184.059998,181.639999,181.929993,183.220001,2211400,183.220001,NaN
2018-01-05,185.899994,183.539993,185.000000,185.339996,2376500,185.339996,NaN
2018-01-08,185.600006,183.830002,184.949997,185.039993,2088000,185.039993,NaN
...,...,...,...,...,...,...,...
2020-12-24,503.010010,497.279999,499.160004,499.859985,589200,499.859985,488.342001
2020-12-28,506.040009,496.820007,505.609985,498.950012,1515400,498.950012,489.438002
2020-12-29,505.350006,499.739990,501.170013,502.109985,1434100,502.109985,490.620001
2020-12-30,504.369995,496.329987,503.049988,497.450012,1529900,497.450012,491.535002
2020-12-31,500.660004,494.890015,497.989990,500.119995,1462100,500.119995,492.478001

### Moving Average Convergence Divergence <a class="anchor" id="MovingAverageConvergenceDivergence"></a>

he Moving Average Convergence Divergence (MACD) is the difference between two Exponential Moving Averages. The Signal line is an Exponential Moving Average of the MACD.
The MACD signals trend changes and indicates the start of the new trend direction. High values indicate overbought conditions, low values indicate oversold conditions. Divergence with the price indicates an end to the current trend, especially if the MACD is at extremely high or low values. When the MACD line crosses above the signal line a buy signal is generated. When the MACD crosses below the signal line, a sell signal is generated. To confirm the signal, the MACD should be above zero for a buy, and below zero for a sell.

In [49]:
def MACD(df):
    exp1 = df["Adj Close"].ewm(span=12, adjust=False).mean()
    exp2 = df["Adj Close"].ewm(span=26, adjust=False).mean()
    macd = exp1 - exp2
    df["MACD"] = macd
#     exp3 = macd.ewm(span=9, adjust=False).mean()
    
    return df

In [50]:
MACD(df)

,High,Low,Open,Close,Volume,Adj Close,SMA,MACD
Date,,,,,,,,
2018-01-02,177.800003,175.259995,175.850006,177.699997,2432800,177.699997,NaN,0.000000
2018-01-03,181.889999,177.699997,178.000000,181.039993,2561200,181.039993,NaN,0.266438
2018-01-04,184.059998,181.639999,181.929993,183.220001,2211400,183.220001,NaN,0.646054
2018-01-05,185.899994,183.539993,185.000000,185.339996,2376500,185.339996,NaN,1.105228
2018-01-08,185.600006,183.830002,184.949997,185.039993,2088000,185.039993,NaN,1.428452
...,...,...,...,...,...,...,...,...
2020-12-24,503.010010,497.279999,499.160004,499.859985,589200,499.859985,488.342001,6.569721
2020-12-28,506.040009,496.820007,505.609985,498.950012,1515400,498.950012,489.438002,6.523646
2020-12-29,505.350006,499.739990,501.170013,502.109985,1434100,502.109985,490.620001,6.665282
2020-12-30,504.369995,496.329987,503.049988,497.450012,1529900,497.450012,491.535002,6.328556
2020-12-31,500.660004,494.890015,497.989990,500.119995,1462100,500.119995,492.478001,6.205610

### Stochastic Oscillator <a class="anchor" id="StochasticOscillator"></a>

The Stochastic Oscillator measures where the close is in relation to the recent trading range. The values range from zero to 100. %D values over 75 indicate an overbought condition; values under 25 indicate an oversold condition. When the Fast %D crosses above the Slow %D, it is a buy signal; when it crosses below, it is a sell signal. The Raw %K is generally considered too erratic to use for crossover signals.

In [51]:
def calculate_k(df):
    adj_close = df["Adj Close"]
    highest_hi = df['High'].rolling(window=10).max()
    lower_lo = df["Low"].rolling(window=10).min()
    df['per_k_stoch_10'] = (adj_close - lower_lo)/(highest_hi - lower_lo)*100
    return df

def calculate_d(df):
    df['per_d_stoch_10'] = df['per_k_stoch_10'].rolling(window=10).mean()
    return df

def stochastic_oscillator(df):
    df = calculate_k(df)
    df = calculate_d(df)
    return df

In [52]:
stochastic_oscillator(df)

,High,Low,Open,Close,Volume,Adj Close,SMA,MACD,per_k_stoch_10,per_d_stoch_10
Date,,,,,,,,,,
2018-01-02,177.800003,175.259995,175.850006,177.699997,2432800,177.699997,NaN,0.000000,NaN,NaN
2018-01-03,181.889999,177.699997,178.000000,181.039993,2561200,181.039993,NaN,0.266438,NaN,NaN
2018-01-04,184.059998,181.639999,181.929993,183.220001,2211400,183.220001,NaN,0.646054,NaN,NaN
2018-01-05,185.899994,183.539993,185.000000,185.339996,2376500,185.339996,NaN,1.105228,NaN,NaN
2018-01-08,185.600006,183.830002,184.949997,185.039993,2088000,185.039993,NaN,1.428452,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2020-12-24,503.010010,497.279999,499.160004,499.859985,589200,499.859985,488.342001,6.569721,81.469746,71.135955
2020-12-28,506.040009,496.820007,505.609985,498.950012,1515400,498.950012,489.438002,6.523646,74.633998,76.272477
2020-12-29,505.350006,499.739990,501.170013,502.109985,1434100,502.109985,490.620001,6.665282,81.773303,78.673633
2020-12-30,504.369995,496.329987,503.049988,497.450012,1529900,497.450012,491.535002,6.328556,58.483167,79.986338
2020-12-31,500.660004,494.890015,497.989990,500.119995,1462100,500.119995,492.478001,6.205610,58.256509,78.893713

### Accumulation/Distribution Line <a class="anchor" id="Accumulation/DistributionLine"></a>

The Accumulation/Distribution Line is similar to the On Balance Volume (OBV), which sums the volume times +1/-1 based on whether the close is higher than the previous close. The Accumulation/Distribution indicator, however, multiplies the volume by the close location value (CLV). The CLV is based on the movement of the issue within a single bar and can be +1, -1 or zero.
The Accumulation/Distribution Line is interpreted by looking for a divergence in the direction of the indicator relative to price. If the Accumulation/Distribution Line is trending upward it indicates that the price may follow. Also, if the Accumulation/Distribution Line becomes flat while the price is still rising (or falling) then it signals an impending flattening of the price.

In [53]:
df['seq'] = [a for a in range(1, len(df)+1)]

In [54]:
df['Date'] = df.index

In [55]:
df

,High,Low,Open,Close,Volume,Adj Close,SMA,MACD,per_k_stoch_10,per_d_stoch_10,seq,Date
Date,,,,,,,,,,,,
2018-01-02,177.800003,175.259995,175.850006,177.699997,2432800,177.699997,NaN,0.000000,NaN,NaN,1,2018-01-02
2018-01-03,181.889999,177.699997,178.000000,181.039993,2561200,181.039993,NaN,0.266438,NaN,NaN,2,2018-01-03
2018-01-04,184.059998,181.639999,181.929993,183.220001,2211400,183.220001,NaN,0.646054,NaN,NaN,3,2018-01-04
2018-01-05,185.899994,183.539993,185.000000,185.339996,2376500,185.339996,NaN,1.105228,NaN,NaN,4,2018-01-05
2018-01-08,185.600006,183.830002,184.949997,185.039993,2088000,185.039993,NaN,1.428452,NaN,NaN,5,2018-01-08
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,503.010010,497.279999,499.160004,499.859985,589200,499.859985,488.342001,6.569721,81.469746,71.135955,752,2020-12-24
2020-12-28,506.040009,496.820007,505.609985,498.950012,1515400,498.950012,489.438002,6.523646,74.633998,76.272477,753,2020-12-28
2020-12-29,505.350006,499.739990,501.170013,502.109985,1434100,502.109985,490.620001,6.665282,81.773303,78.673633,754,2020-12-29
2020-12-30,504.369995,496.329987,503.049988,497.450012,1529900,497.450012,491.535002,6.328556,58.483167,79.986338,755,2020-12-30
2020-12-31,500.660004,494.890015,497.989990,500.119995,1462100,500.119995,492.478001,6.205610,58.256509,78.893713,756,2020-12-31

In [56]:
df.set_index("seq", inplace = True)

In [57]:
df

,High,Low,Open,Close,Volume,Adj Close,SMA,MACD,per_k_stoch_10,per_d_stoch_10,Date
seq,,,,,,,,,,,
1,177.800003,175.259995,175.850006,177.699997,2432800,177.699997,NaN,0.000000,NaN,NaN,2018-01-02
2,181.889999,177.699997,178.000000,181.039993,2561200,181.039993,NaN,0.266438,NaN,NaN,2018-01-03
3,184.059998,181.639999,181.929993,183.220001,2211400,183.220001,NaN,0.646054,NaN,NaN,2018-01-04
4,185.899994,183.539993,185.000000,185.339996,2376500,185.339996,NaN,1.105228,NaN,NaN,2018-01-05
5,185.600006,183.830002,184.949997,185.039993,2088000,185.039993,NaN,1.428452,NaN,NaN,2018-01-08
...,...,...,...,...,...,...,...,...,...,...,...
752,503.010010,497.279999,499.160004,499.859985,589200,499.859985,488.342001,6.569721,81.469746,71.135955,2020-12-24
753,506.040009,496.820007,505.609985,498.950012,1515400,498.950012,489.438002,6.523646,74.633998,76.272477,2020-12-28
754,505.350006,499.739990,501.170013,502.109985,1434100,502.109985,490.620001,6.665282,81.773303,78.673633,2020-12-29
755,504.369995,496.329987,503.049988,497.450012,1529900,497.450012,491.535002,6.328556,58.483167,79.986338,2020-12-30
756,500.660004,494.890015,497.989990,500.119995,1462100,500.119995,492.478001,6.205610,58.256509,78.893713,2020-12-31

In [58]:
def accumulation_distribution(df):
    values = pd.Series(index = df.index)
    
    first_idx = df.index.values[0]
    
    for idx in df.index.values:
        today = df.loc[idx]
        close, high, low, volume = today["Close"], today["High"], today["Low"], today["Volume"]
        CLV = ((close -low) - (high-close))/ (high-low)
        
        values[idx] = values[idx-1]+ CLV * volume if idx != first_idx else 0
        
    df['a/d'] = values
    return df

In [59]:
accumulation_distribution(df)

<ipython-input-58-a122a8d9a5a3>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  values = pd.Series(index = df.index)

,High,Low,Open,Close,Volume,Adj Close,SMA,MACD,per_k_stoch_10,per_d_stoch_10,Date,a/d
seq,,,,,,,,,,,,
1,177.800003,175.259995,175.850006,177.699997,2432800,177.699997,NaN,0.000000,NaN,NaN,2018-01-02,0.000000e+00
2,181.889999,177.699997,178.000000,181.039993,2561200,181.039993,NaN,0.266438,NaN,NaN,2018-01-03,1.522043e+06
3,184.059998,181.639999,181.929993,183.220001,2211400,183.220001,NaN,0.646054,NaN,NaN,2018-01-04,2.198262e+06
4,185.899994,183.539993,185.000000,185.339996,2376500,185.339996,NaN,1.105228,NaN,NaN,2018-01-05,3.446936e+06
5,185.600006,183.830002,184.949997,185.039993,2088000,185.039993,NaN,1.428452,NaN,NaN,2018-01-08,4.213689e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
752,503.010010,497.279999,499.160004,499.859985,589200,499.859985,488.342001,6.569721,81.469746,71.135955,2020-12-24,1.899241e+08
753,506.040009,496.820007,505.609985,498.950012,1515400,498.950012,489.438002,6.523646,74.633998,76.272477,2020-12-28,1.891089e+08
754,505.350006,499.739990,501.170013,502.109985,1434100,502.109985,490.620001,6.665282,81.773303,78.673633,2020-12-29,1.888865e+08
755,504.369995,496.329987,503.049988,497.450012,1529900,497.450012,491.535002,6.328556,58.483167,79.986338,2020-12-30,1.877828e+08
756,500.660004,494.890015,497.989990,500.119995,1462100,500.119995,492.478001,6.205610,58.256509,78.893713,2020-12-31,1.889713e+08

In [60]:
df.set_index("Date", inplace = True)

In [61]:
df

,High,Low,Open,Close,Volume,Adj Close,SMA,MACD,per_k_stoch_10,per_d_stoch_10,a/d
Date,,,,,,,,,,,
2018-01-02,177.800003,175.259995,175.850006,177.699997,2432800,177.699997,NaN,0.000000,NaN,NaN,0.000000e+00
2018-01-03,181.889999,177.699997,178.000000,181.039993,2561200,181.039993,NaN,0.266438,NaN,NaN,1.522043e+06
2018-01-04,184.059998,181.639999,181.929993,183.220001,2211400,183.220001,NaN,0.646054,NaN,NaN,2.198262e+06
2018-01-05,185.899994,183.539993,185.000000,185.339996,2376500,185.339996,NaN,1.105228,NaN,NaN,3.446936e+06
2018-01-08,185.600006,183.830002,184.949997,185.039993,2088000,185.039993,NaN,1.428452,NaN,NaN,4.213689e+06
...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,503.010010,497.279999,499.160004,499.859985,589200,499.859985,488.342001,6.569721,81.469746,71.135955,1.899241e+08
2020-12-28,506.040009,496.820007,505.609985,498.950012,1515400,498.950012,489.438002,6.523646,74.633998,76.272477,1.891089e+08
2020-12-29,505.350006,499.739990,501.170013,502.109985,1434100,502.109985,490.620001,6.665282,81.773303,78.673633,1.888865e+08
2020-12-30,504.369995,496.329987,503.049988,497.450012,1529900,497.450012,491.535002,6.328556,58.483167,79.986338,1.877828e+08
2020-12-31,500.660004,494.890015,497.989990,500.119995,1462100,500.119995,492.478001,6.205610,58.256509,78.893713,1.889713e+08

### Bollinger Bands <a class="anchor" id="BollingerBands"></a>

Bollinger Bands consist of three lines. The middle band is a simple moving average (generally 20 periods) of the typical price (TP). The upper and lower bands are F standard deviations (generally 2) above and below the middle band. The bands widen and narrow when the volatility of the price is higher or lower, respectively.
Bollinger Bands do not, in themselves, generate buy or sell signals; they are an indicator of overbought or oversold conditions. When the price is near the upper or lower band it indicates that a reversal may be imminent. The middle band becomes a support or resistance level. The upper and lower bands can also be interpreted as price targets. When the price bounces off of the lower band and crosses the middle band, then the upper band becomes the price target.

In [62]:
def BBANDS(df):
    df["TP"] = (df["High"] + df["Low"] + df["Close"])/3
    df["Midband"] = df["TP"].rolling(window= 20).mean()
    df["Std"] = df["TP"].rolling(window= 20).std()
    
    df["Upperband"] = df["Midband"] + (df["Std"]*2)
    df["Lowerband"] = df["Midband"] - (df["Std"]*2)
    
    df = df.drop(['Std', 'TP'], axis = 1)
    return df

In [63]:
BBANDS(df)

,High,Low,Open,Close,Volume,Adj Close,SMA,MACD,per_k_stoch_10,per_d_stoch_10,a/d,Midband,Upperband,Lowerband
Date,,,,,,,,,,,,,,
2018-01-02,177.800003,175.259995,175.850006,177.699997,2432800,177.699997,NaN,0.000000,NaN,NaN,0.000000e+00,NaN,NaN,NaN
2018-01-03,181.889999,177.699997,178.000000,181.039993,2561200,181.039993,NaN,0.266438,NaN,NaN,1.522043e+06,NaN,NaN,NaN
2018-01-04,184.059998,181.639999,181.929993,183.220001,2211400,183.220001,NaN,0.646054,NaN,NaN,2.198262e+06,NaN,NaN,NaN
2018-01-05,185.899994,183.539993,185.000000,185.339996,2376500,185.339996,NaN,1.105228,NaN,NaN,3.446936e+06,NaN,NaN,NaN
2018-01-08,185.600006,183.830002,184.949997,185.039993,2088000,185.039993,NaN,1.428452,NaN,NaN,4.213689e+06,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,503.010010,497.279999,499.160004,499.859985,589200,499.859985,488.342001,6.569721,81.469746,71.135955,1.899241e+08,487.907502,506.075620,469.739384
2020-12-28,506.040009,496.820007,505.609985,498.950012,1515400,498.950012,489.438002,6.523646,74.633998,76.272477,1.891089e+08,489.032669,507.429234,470.636104
2020-12-29,505.350006,499.739990,501.170013,502.109985,1434100,502.109985,490.620001,6.665282,81.773303,78.673633,1.888865e+08,490.343835,508.619992,472.067679
2020-12-30,504.369995,496.329987,503.049988,497.450012,1529900,497.450012,491.535002,6.328556,58.483167,79.986338,1.877828e+08,491.433169,509.097133,473.769204
2020-12-31,500.660004,494.890015,497.989990,500.119995,1462100,500.119995,492.478001,6.205610,58.256509,78.893713,1.889713e+08,492.482669,509.143431,475.821906

### On Balance Volume <a class="anchor" id="OnBalanceVolume"></a>

The On Balance Volume (OBV) is a cumulative total of the up and down volume. When the close is higher than the previous close, the volume is added to the running total, and when the close is lower than the previous close, the volume is subtracted from the running total.
To interpret the OBV, look for the OBV to move with the price or precede price moves. If the price moves before the OBV, then it is a non-confirmed move. A series of rising peaks, or falling troughs, in the OBV indicates a strong trend. If the OBV is flat, then the market is not trending.

In [64]:
def obv(df):
    df['seq'] = [a for a in range(1, len(df)+1)]
    df['Date'] = df.index
    df.set_index("seq", inplace = True)
    for index in df[:-1].index:
        df.loc[index+1, "OBV"] = abs(df.loc[index+1, "Volume"] - df.loc[index, "Volume"])
    df.set_index("Date", inplace = True)    
    return df

In [65]:
obv(df)

,High,Low,Open,Close,Volume,Adj Close,SMA,MACD,per_k_stoch_10,per_d_stoch_10,a/d,TP,Midband,Std,Upperband,Lowerband,OBV
Date,,,,,,,,,,,,,,,,,
2018-01-02,177.800003,175.259995,175.850006,177.699997,2432800,177.699997,NaN,0.000000,NaN,NaN,0.000000e+00,176.919998,NaN,NaN,NaN,NaN,NaN
2018-01-03,181.889999,177.699997,178.000000,181.039993,2561200,181.039993,NaN,0.266438,NaN,NaN,1.522043e+06,180.209997,NaN,NaN,NaN,NaN,128400.0
2018-01-04,184.059998,181.639999,181.929993,183.220001,2211400,183.220001,NaN,0.646054,NaN,NaN,2.198262e+06,182.973333,NaN,NaN,NaN,NaN,349800.0
2018-01-05,185.899994,183.539993,185.000000,185.339996,2376500,185.339996,NaN,1.105228,NaN,NaN,3.446936e+06,184.926661,NaN,NaN,NaN,NaN,165100.0
2018-01-08,185.600006,183.830002,184.949997,185.039993,2088000,185.039993,NaN,1.428452,NaN,NaN,4.213689e+06,184.823334,NaN,NaN,NaN,NaN,288500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,503.010010,497.279999,499.160004,499.859985,589200,499.859985,488.342001,6.569721,81.469746,71.135955,1.899241e+08,500.049998,487.907502,9.084059,506.075620,469.739384,839100.0
2020-12-28,506.040009,496.820007,505.609985,498.950012,1515400,498.950012,489.438002,6.523646,74.633998,76.272477,1.891089e+08,500.603343,489.032669,9.198282,507.429234,470.636104,926200.0
2020-12-29,505.350006,499.739990,501.170013,502.109985,1434100,502.109985,490.620001,6.665282,81.773303,78.673633,1.888865e+08,502.399994,490.343835,9.138078,508.619992,472.067679,81300.0
2020-12-30,504.369995,496.329987,503.049988,497.450012,1529900,497.450012,491.535002,6.328556,58.483167,79.986338,1.877828e+08,499.383331,491.433169,8.831982,509.097133,473.769204,95800.0
2020-12-31,500.660004,494.890015,497.989990,500.119995,1462100,500.119995,492.478001,6.205610,58.256509,78.893713,1.889713e+08,498.556671,492.482669,8.330381,509.143431,475.821906,67800.0